*{
    font-size: 20px;
}

#li-color{
    color: red;
}

.text-color{
    color: blue;
    font-size: 50px;
}

/*id*/
#content{
    color: red;
}
/*class*/
.section{
    color: blue;
}

/*要素div*/
div{
    color: green;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}